--
-- PostgreSQL database dump
--

\restrict wGmWDYwioC5qhId2fhi9GG1GgClLcIhvbSA0BDhNjr9uZsi6F1jV50tlIbBRzUL

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcement" (
    id text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    "createdById" text,
    scope text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Announcement" OWNER TO postgres;

--
-- Name: ApiRouting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ApiRouting" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    endpoint text,
    method text DEFAULT 'GET'::text NOT NULL,
    "sourceType" text DEFAULT 'api'::text NOT NULL,
    "csvFilePath" text,
    "csvUrl" text,
    headers jsonb,
    "isActive" boolean DEFAULT true NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    "syncEnabled" boolean DEFAULT false NOT NULL,
    "syncIntervalHours" integer DEFAULT 0 NOT NULL,
    "syncIntervalMinutes" integer DEFAULT 10 NOT NULL,
    "syncSchedule" text,
    "lastSyncAt" timestamp(3) without time zone,
    "lastSyncStatus" text,
    "lastTestAt" timestamp(3) without time zone,
    "lastTestStatus" text,
    "syncProgressCurrent" integer DEFAULT 0 NOT NULL,
    "syncProgressTotal" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ApiRouting" OWNER TO postgres;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "checkInAt" timestamp(3) without time zone,
    "checkOutAt" timestamp(3) without time zone,
    status text NOT NULL,
    lat double precision,
    lng double precision,
    "geoAccuracy" integer,
    meta jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    meta jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Claim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Claim" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    amount double precision NOT NULL,
    currency text DEFAULT 'INR'::text NOT NULL,
    category text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Claim" OWNER TO postgres;

--
-- Name: ClaimAttachment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClaimAttachment" (
    id text NOT NULL,
    "claimId" text NOT NULL,
    url text NOT NULL,
    name text
);


ALTER TABLE public."ClaimAttachment" OWNER TO postgres;

--
-- Name: DataImportLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DataImportLog" (
    id text NOT NULL,
    "sourceName" text NOT NULL,
    "sourceUrl" text,
    status text DEFAULT 'pending'::text NOT NULL,
    "recordsTotal" integer DEFAULT 0 NOT NULL,
    "recordsImported" integer DEFAULT 0 NOT NULL,
    "recordsFailed" integer DEFAULT 0 NOT NULL,
    "errorMessage" text,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    metadata jsonb
);


ALTER TABLE public."DataImportLog" OWNER TO postgres;

--
-- Name: Department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Department" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Department" OWNER TO postgres;

--
-- Name: Designation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Designation" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Designation" OWNER TO postgres;

--
-- Name: Employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employee" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text,
    "employeeCode" text,
    phone text,
    "joiningDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "orgUnitId" text,
    aadhaar text,
    "autoNumber" text,
    "cardNumber" text,
    "companyEmail" text,
    "departmentId" text,
    "designationId" text,
    "externalId" text,
    gender text,
    "interviewDate" timestamp(3) without time zone,
    metadata jsonb,
    "personalEmail" text,
    "profileImageUrl" text,
    "secondaryPhone" text,
    "shiftEnd" text,
    "shiftStart" text,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "timePolicyId" text,
    "weeklyOff" text,
    "zohoId" text
);


ALTER TABLE public."Employee" OWNER TO postgres;

--
-- Name: EmployeeTarget; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmployeeTarget" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    metric text NOT NULL,
    value double precision NOT NULL,
    achieved double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmployeeTarget" OWNER TO postgres;

--
-- Name: OrgUnit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrgUnit" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text,
    level integer DEFAULT 0 NOT NULL,
    path text,
    "parentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    type text DEFAULT 'functional'::text NOT NULL
);


ALTER TABLE public."OrgUnit" OWNER TO postgres;

--
-- Name: OtpCode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OtpCode" (
    id text NOT NULL,
    phone text,
    email text,
    code text NOT NULL,
    type text DEFAULT 'login'::text NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OtpCode" OWNER TO postgres;

--
-- Name: Policy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Policy" (
    id text NOT NULL,
    key text NOT NULL,
    description text,
    category text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Policy" OWNER TO postgres;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    level integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Role" OWNER TO postgres;

--
-- Name: RolePolicy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RolePolicy" (
    "roleId" text NOT NULL,
    "policyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RolePolicy" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "employeeCardNo" text,
    "loginType" text DEFAULT 'mdo'::text NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: SmsLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SmsLog" (
    id text NOT NULL,
    "recipientPhone" text NOT NULL,
    "messageType" text DEFAULT 'OTP'::text NOT NULL,
    "messageText" text,
    status text DEFAULT 'pending'::text NOT NULL,
    "apiResponse" jsonb,
    "apiMessageId" text,
    "customerRef" text,
    "sentAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    "failedAt" timestamp(3) without time zone,
    "errorMessage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SmsLog" OWNER TO postgres;

--
-- Name: SystemSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SystemSettings" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    description text,
    category text DEFAULT 'general'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SystemSettings" OWNER TO postgres;

--
-- Name: Task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Task" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "assigneeId" text,
    "creatorId" text,
    status text DEFAULT 'open'::text NOT NULL,
    priority text,
    "dueDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Task" OWNER TO postgres;

--
-- Name: TimePolicy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TimePolicy" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "isSinglePunch" boolean DEFAULT false NOT NULL,
    "scheduleJson" jsonb,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TimePolicy" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    "passwordHash" text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "isSuperAdmin" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "orgUnitId" text,
    "employeeId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserRole" (
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserRole" OWNER TO postgres;

--
-- Name: UserSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserSettings" (
    id text NOT NULL,
    "userId" text NOT NULL,
    theme text DEFAULT 'light'::text NOT NULL,
    "emailNotifications" boolean DEFAULT true NOT NULL,
    "smsNotifications" boolean DEFAULT false NOT NULL,
    "loginMethod" text DEFAULT 'password'::text NOT NULL,
    timezone text DEFAULT 'Asia/Kolkata'::text NOT NULL,
    language text DEFAULT 'en'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserSettings" OWNER TO postgres;

--
-- Name: _AnnouncementRecipients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_AnnouncementRecipients" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_AnnouncementRecipients" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: emp_manager; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emp_manager (
    mcardno text CONSTRAINT emp_manager_cardno_not_null NOT NULL,
    "mdepartmentId" text,
    "mdesignationId" text,
    "morgUnitId" text,
    mis_extinct boolean DEFAULT false CONSTRAINT emp_manager_is_extinct_not_null NOT NULL,
    mid text CONSTRAINT emp_manager_id_not_null NOT NULL
);


ALTER TABLE public.emp_manager OWNER TO postgres;

--
-- Name: manager_team; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.manager_team AS
 SELECT a.mcardno,
    a."mdepartmentId",
    a."mdesignationId",
    a."morgUnitId",
    a.mis_extinct,
    a.mid,
    b.id,
    b."firstName",
    b."lastName",
    b."employeeCode",
    b.phone,
    b."joiningDate",
    b."createdAt",
    b."updatedAt",
    b."orgUnitId",
    b.aadhaar,
    b."autoNumber",
    b."cardNumber",
    b."companyEmail",
    b."departmentId",
    b."designationId",
    b."externalId",
    b.gender,
    b."interviewDate",
    b.metadata,
    b."personalEmail",
    b."profileImageUrl",
    b."secondaryPhone",
    b."shiftEnd",
    b."shiftStart",
    b.status,
    b."timePolicyId",
    b."weeklyOff",
    b."zohoId"
   FROM (public.emp_manager a
     LEFT JOIN public."Employee" b ON (((a."mdepartmentId" = b."departmentId") OR (a."mdesignationId" = b."designationId") OR (a."morgUnitId" = b."orgUnitId"))));


ALTER VIEW public.manager_team OWNER TO postgres;

--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Announcement" (id, title, body, "createdById", scope, "createdAt") FROM stdin;
\.


--
-- Data for Name: ApiRouting; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AuditLog" (id, "userId", action, entity, "entityId", meta, "createdAt") FROM stdin;
\.


--
-- Data for Name: Claim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Claim" (id, "employeeId", amount, currency, category, status, "submittedAt") FROM stdin;
\.


--
-- Data for Name: ClaimAttachment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClaimAttachment" (id, "claimId", url, name) FROM stdin;
\.


--
-- Data for Name: DataImportLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Department; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Designation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EmployeeTarget; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmployeeTarget" (id, "employeeId", "periodStart", "periodEnd", metric, value, achieved, "createdAt") FROM stdin;
\.


--
-- Data for Name: OrgUnit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OtpCode; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Policy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Role" (id, name, description, level, "createdAt") FROM stdin;
6d2b689c-be74-4d5f-bfa1-1984f346f9a8	CEO	Chief Executive Officer - Full access	0	2025-12-19 14:45:50.802
9fe0b96b-400f-48e1-a6f7-9d0299fdbccf	Management	Management Team - Department oversight	1	2025-12-19 14:45:50.804
08cbe610-cba8-4e47-b5aa-59275b069d1d	HR	Human Resources Staff	2	2025-12-19 14:45:50.805
16bac578-60f1-488b-836e-e4b05e5f4580	Finance	Finance Staff	2	2025-12-19 14:45:50.806
de7cd774-0206-4265-90da-4dd91e8fa434	Employee	Regular Employee	3	2025-12-19 14:45:50.807
\.


--
-- Data for Name: RolePolicy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "userId", "expiresAt", "createdAt", "employeeCardNo", "loginType") FROM stdin;
4755cdfc-5278-482c-a81f-d72aad36eadd	45113bef-eaa5-4b65-98b8-f398778dce53	2025-12-28 09:12:51.345	2025-12-21 09:12:51.346	\N	mdo
e6074519-39d9-451f-bb34-ec4dc2a094d5	d2369a12-8652-42e4-9e62-32f53d1c36c8	2025-12-28 13:16:41.942	2025-12-21 13:16:41.943	4344	employee
\.


--
-- Data for Name: SmsLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SystemSettings" (id, key, value, description, category, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TimePolicy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserSettings" (id, "userId", theme, "emailNotifications", "smsNotifications", "loginMethod", timezone, language, "createdAt", "updatedAt") FROM stdin;
7754dc23-46b9-421a-9ec0-e992f134d535	d977590a-2dc8-4a59-aeb7-dc50b39f8233	light	t	f	password	Asia/Kolkata	en	2025-12-21 07:18:37.988	2025-12-21 07:18:37.988
500f108b-c83b-4fe3-8361-78ff74c40674	d2369a12-8652-42e4-9e62-32f53d1c36c8	light	t	f	password	Asia/Kolkata	en	2025-12-21 09:47:51.413	2025-12-21 09:47:51.413
\.


--
-- Data for Name: _AnnouncementRecipients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_AnnouncementRecipients" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: emp_manager; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.emp_manager (mcardno, "mdepartmentId", "mdesignationId", "morgUnitId", mis_extinct, mid) FROM stdin;
11017	077d0ed7-d84c-43bc-bf7f-8785a2657aa8	\N	\N	f	45455
\.


--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: ApiRouting ApiRouting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ApiRouting"
    ADD CONSTRAINT "ApiRouting_pkey" PRIMARY KEY (id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: ClaimAttachment ClaimAttachment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClaimAttachment"
    ADD CONSTRAINT "ClaimAttachment_pkey" PRIMARY KEY (id);


--
-- Name: Claim Claim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Claim"
    ADD CONSTRAINT "Claim_pkey" PRIMARY KEY (id);


--
-- Name: DataImportLog DataImportLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DataImportLog"
    ADD CONSTRAINT "DataImportLog_pkey" PRIMARY KEY (id);


--
-- Name: Department Department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_pkey" PRIMARY KEY (id);


--
-- Name: Designation Designation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Designation"
    ADD CONSTRAINT "Designation_pkey" PRIMARY KEY (id);


--
-- Name: EmployeeTarget EmployeeTarget_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeTarget"
    ADD CONSTRAINT "EmployeeTarget_pkey" PRIMARY KEY (id);


--
-- Name: Employee Employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_pkey" PRIMARY KEY (id);


--
-- Name: OrgUnit OrgUnit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrgUnit"
    ADD CONSTRAINT "OrgUnit_pkey" PRIMARY KEY (id);


--
-- Name: OtpCode OtpCode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OtpCode"
    ADD CONSTRAINT "OtpCode_pkey" PRIMARY KEY (id);


--
-- Name: Policy Policy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Policy"
    ADD CONSTRAINT "Policy_pkey" PRIMARY KEY (id);


--
-- Name: RolePolicy RolePolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePolicy"
    ADD CONSTRAINT "RolePolicy_pkey" PRIMARY KEY ("roleId", "policyId");


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SmsLog SmsLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SmsLog"
    ADD CONSTRAINT "SmsLog_pkey" PRIMARY KEY (id);


--
-- Name: SystemSettings SystemSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SystemSettings"
    ADD CONSTRAINT "SystemSettings_pkey" PRIMARY KEY (id);


--
-- Name: Task Task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_pkey" PRIMARY KEY (id);


--
-- Name: TimePolicy TimePolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TimePolicy"
    ADD CONSTRAINT "TimePolicy_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY ("userId", "roleId");


--
-- Name: UserSettings UserSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: emp_manager emp_manager_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emp_manager
    ADD CONSTRAINT emp_manager_pkey PRIMARY KEY (mid);


--
-- Name: ApiRouting_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ApiRouting_name_key" ON public."ApiRouting" USING btree (name);


--
-- Name: Department_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Department_code_key" ON public."Department" USING btree (code);


--
-- Name: Designation_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Designation_code_key" ON public."Designation" USING btree (code);


--
-- Name: Employee_cardNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_cardNumber_key" ON public."Employee" USING btree ("cardNumber");


--
-- Name: Employee_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Employee_departmentId_idx" ON public."Employee" USING btree ("departmentId");


--
-- Name: Employee_designationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Employee_designationId_idx" ON public."Employee" USING btree ("designationId");


--
-- Name: Employee_employeeCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_employeeCode_key" ON public."Employee" USING btree ("employeeCode");


--
-- Name: Employee_externalId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_externalId_key" ON public."Employee" USING btree ("externalId");


--
-- Name: Employee_firstName_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Employee_firstName_idx" ON public."Employee" USING btree ("firstName");


--
-- Name: Employee_orgUnitId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Employee_orgUnitId_idx" ON public."Employee" USING btree ("orgUnitId");


--
-- Name: Employee_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Employee_status_idx" ON public."Employee" USING btree (status);


--
-- Name: OrgUnit_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "OrgUnit_code_key" ON public."OrgUnit" USING btree (code);


--
-- Name: OrgUnit_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "OrgUnit_name_key" ON public."OrgUnit" USING btree (name);


--
-- Name: OtpCode_email_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OtpCode_email_code_idx" ON public."OtpCode" USING btree (email, code);


--
-- Name: OtpCode_phone_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OtpCode_phone_code_idx" ON public."OtpCode" USING btree (phone, code);


--
-- Name: Policy_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Policy_key_key" ON public."Policy" USING btree (key);


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: SmsLog_apiMessageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SmsLog_apiMessageId_idx" ON public."SmsLog" USING btree ("apiMessageId");


--
-- Name: SmsLog_recipientPhone_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SmsLog_recipientPhone_idx" ON public."SmsLog" USING btree ("recipientPhone");


--
-- Name: SmsLog_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SmsLog_status_idx" ON public."SmsLog" USING btree (status);


--
-- Name: SystemSettings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SystemSettings_key_key" ON public."SystemSettings" USING btree (key);


--
-- Name: TimePolicy_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TimePolicy_code_key" ON public."TimePolicy" USING btree (code);


--
-- Name: UserSettings_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserSettings_userId_key" ON public."UserSettings" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_employeeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_employeeId_key" ON public."User" USING btree ("employeeId");


--
-- Name: _AnnouncementRecipients_AB_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "_AnnouncementRecipients_AB_unique" ON public."_AnnouncementRecipients" USING btree ("A", "B");


--
-- Name: _AnnouncementRecipients_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_AnnouncementRecipients_B_index" ON public."_AnnouncementRecipients" USING btree ("B");


--
-- Name: Announcement Announcement_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Attendance Attendance_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ClaimAttachment ClaimAttachment_claimId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClaimAttachment"
    ADD CONSTRAINT "ClaimAttachment_claimId_fkey" FOREIGN KEY ("claimId") REFERENCES public."Claim"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Claim Claim_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Claim"
    ADD CONSTRAINT "Claim_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EmployeeTarget EmployeeTarget_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeTarget"
    ADD CONSTRAINT "EmployeeTarget_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Employee Employee_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_designationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_designationId_fkey" FOREIGN KEY ("designationId") REFERENCES public."Designation"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_orgUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_orgUnitId_fkey" FOREIGN KEY ("orgUnitId") REFERENCES public."OrgUnit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_timePolicyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_timePolicyId_fkey" FOREIGN KEY ("timePolicyId") REFERENCES public."TimePolicy"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OrgUnit OrgUnit_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrgUnit"
    ADD CONSTRAINT "OrgUnit_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."OrgUnit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RolePolicy RolePolicy_policyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePolicy"
    ADD CONSTRAINT "RolePolicy_policyId_fkey" FOREIGN KEY ("policyId") REFERENCES public."Policy"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RolePolicy RolePolicy_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RolePolicy"
    ADD CONSTRAINT "RolePolicy_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Task Task_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Task Task_creatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Task"
    ADD CONSTRAINT "Task_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSettings UserSettings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSettings"
    ADD CONSTRAINT "UserSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_orgUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_orgUnitId_fkey" FOREIGN KEY ("orgUnitId") REFERENCES public."OrgUnit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: _AnnouncementRecipients _AnnouncementRecipients_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_AnnouncementRecipients"
    ADD CONSTRAINT "_AnnouncementRecipients_A_fkey" FOREIGN KEY ("A") REFERENCES public."Announcement"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _AnnouncementRecipients _AnnouncementRecipients_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_AnnouncementRecipients"
    ADD CONSTRAINT "_AnnouncementRecipients_B_fkey" FOREIGN KEY ("B") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict wGmWDYwioC5qhId2fhi9GG1GgClLcIhvbSA0BDhNjr9uZsi6F1jV50tlIbBRzUL

